<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.UpKeep.Testcases.TC_01_SignUp" />
			<class name="com.UpKeep.Testcases.TC_04_Logout" />
			<class name="com.UpKeep.Testcases.TC_02_LoginPage" />
			<class name="com.UpKeep.Testcases.TC_03_CreateWorkOrder" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
